.card {
  width: 100vw;
  background-color: $white;
  padding: 1%;
  margin-bottom: 3%;
}

.card__success {
  background-color: $success;
  color: $white;
}

.card__item {
  h3 {
    color: $success
  }
}

.card__money {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
